-
  const locale = 'ja-JP'
  const title = '*Title Here*'
  const speaker = '*Your Name Here*'
  const date = new Date(/* fix it */)
  const dateFormat = new Intl.DateTimeFormat(locale, { dateStyle: 'long' }).format(date)
