mixin standardSlide(title)
  section
    .ly_sandwichSlide.r-stretch
      .ly_sandwichSlide_title.el_slideTitle_wrapper
        h3.el_slideTitle&attributes(attributes)= title

      block

mixin stackContent
  .ly_sandwichSlide_content.ly_stackContent
    block

mixin trainContent
  .ly_sandwichSlide_content.ly_trainContent
    block

mixin freeContent
  .ly_sandwichSlide_content.ly_freeContent
    block

mixin slideFooter
  footer.ly_sandwichSlide_footer.bl_slideFooter
    block

mixin codeBlock(language='plaintext')
  pre
    code(class=`language-${language}`)&attributes(attributes)
      block
