/*
  Customized theme for reveal.js presentations.

@use 'sass:map'

// Coloring
@use 'open-color/open-color' as oc

// Default mixins and settings
@use 'reveal.js/css/theme/template/mixins'
@use 'reveal.js/css/theme/template/settings' as default
@use 'fonts'

// Override theme settings
$backgroundColor: oc.$oc-gray-0

$mainFont: 'Roboto', 'M PLUS 1p', sans-serif
$mainFontSize: 48px
$mainColor: oc.$oc-gray-8

$blockMargin: default.$blockMargin

$headingMargin: default.$headingMargin
$headingFont: 'Roboto', 'M PLUS 1p', sans-serif
$headingColor: oc.$oc-cyan-9
$headingLineHeight: default.$headingLineHeight
$headingLetterSpacing: default.$headingLetterSpacing
$headingTextTransform: none
$headingTextShadow: none
$headingFontWeight: 500
$heading1TextShadow: default.$heading1TextShadow

$heading1Size: default.$heading1Size
$heading2Size: default.$heading2Size
$heading3Size: default.$heading3Size
$heading4Size: default.$heading4Size

$codeFont: 'Inconsolata', monospace

$linkColor: oc.$oc-blue-9
$linkColorHover: oc.$oc-blue-6

$selectionBackgroundColor: oc.$oc-gray-9
$selectionColor: oc.$oc-gray-0

=bodyBackground
  background: $backgroundColor

// Change text colors against dark slide backgrounds
+mixins.dark-bg-text-color(oc.$oc-gray-0)

@import 'reveal.js/css/theme/template/theme'

.reveal pre code
  padding: 9px 16px
